<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power2Career</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- FONTS LINK -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/../static/css/head.css">
    <link rel="stylesheet" type="text/css" href="/../static/css/sign.css">
    <link rel="stylesheet" type="text/css" href="/../static/css/footer.css">
    <link rel="stylesheet" href="/../static/css/courses.css">
</head>
<body>
    <!---------------------------- Navigation menu---------------------------->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/../static/img/logo1.png" style="width:140px; height:140px;" alt=" Logo of power2carrer">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link disabled" href="#">HOME </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">COURSES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">CONTACT </a>
                </li>
            </ul>
            <a id="signup" href="/accounts/signup/"> <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign UP</button></a>
        </div>
    </nav>


    {% block content %}

    {% endblock %}
    
    <div id="footer">
        <div id="logo">
            <img src="/../static/img/footer/power2carrer_logo_(2).png" alt="">
        </div>
        <div id="footer-top-div-container">
            <div class="footer-top-div1">POWER2CAREER</div>
            <div class="footer-top-div1">POWER2IDEA</div>
            <div class="footer-top-div1">POWER2STARTUP</div>
        </div>
        <hr class="hr">
        <div id="footer-mid-div-container">
            <div id="footer-mid-img"><img src="/../static/img/footer/power2carrer_logo_(2).png" alt=""></div>
            <div id="footer-mid-div2">
                <h2>INNOLABZ</h2>
                <ul>
                    <li>Home</li>
                    <li>About Us</li>
                    <li>Courses</li>
                    <li>Overview</li>
                    <li>Progress</li>
                </ul>
            </div>
            <div id="footer-mid-div3">
                <h2>CONTACT</h2>
                <ul>
                    <li id="footer-mid-div3-li1">
                        <div><img src="/../static/img/footer/map-pin.png" id="footer-mid-div3-img1"> </div>
                        <div class="f-m-d3-d">C-108, Sector 2 <br> Noida, Uttar Pradesh</div>
                    </li>
                    <li id="footer-mid-div3-li2">
                        <div><img src="/../static/img/footer/mail.png" id="footer-mid-div3-img2"></div>
                        <div class="f-m-d3-d"> info@inno-labz.com</div>
                    </li>
                    <li id="footer-mid-div3-li3">
                        <div><img src="/../static/img/footer/bx_bx-phone-call.png" id="footer-mid-div3-img3"> </div>
                        <div class="f-m-d3-d">+91123654987</div>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="hr">
        <div id="footer--bottom-div-container">
            <div id="copyright">
                © 2021 INNOLABZ VENTURES PVT. LTD.
            </div>
            <div id="social-links">
                <a href="#" target="_blank"><img src="/../static/img/footer/linkedin.png" id="footer-btm-img2"></a>
                <a href="#" target="_blank"><img src="/../static/img/footer/facebook.png" id="footer-btm-img3"></a>
                <a href="#" target="_blank"><img src="/../static/img/footer/instagram.png" id="footer-btm-img4"></a>
                <a href="#" target="_blank"><img src="/../static/img/footer/youtube.png" id="footer-btm-img5"></a>
            </div>
            <div id="copyright2">
                © 2021 INNOLABZ VENTURES PVT. LTD.
            </div>
        </div>
    </div>
     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./JS/script.js"></script>
</body>
</html>